body {
    background-color: #F2F2F2;
    margin: 0 auto;
    /* max-width: 1200px;   */
    /* font-family: 'Fraunces', serif;
    font-family: 'Commissioner', sans-serif; */
}
.conteudo{
    margin: 0 auto;
    max-width: 1200px;  
    
}
.artigo{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    gap: 15px; 
    padding: 0;*/
    max-width: 800px;
    margin: auto;
    /* text-align: center; */
    
}
.titulo{
    font-family: 'EB Garamond', serif;
    font-size: 3.4em;
    text-align:center;
    margin: 20px 0;
}

.autor{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.autor-foto{
    border-radius: 50%;
    width: 60px;
}

.autor-info{
    margin-left: 10px;
    font-size: 1.25rem;
    font-family: 'Fraunces', serif;
    color: #404040;  
}

.materia {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.lista-foto{
 
  max-width: 100% ;
  margin: 30px 0;

  
}

.materia p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 200;
}

.depoimento{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 60px;
    /* background-color:aqua ; */
}
.depoimento-foto{
    border-radius: 50%;
    width: 150px;
}

.foto-cabeca{
  width: 150px;
  object-position: 0;
}

.carousel-wrapper{
    height:400px;
    position:relative;
    width:800px;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
      right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }

  /* .rodape{
    margin-top: 30px;
  } */
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size:cover;
    }
  .item-2{
    background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
     background-size:cover;
  }
  .item-3{
    background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
     background-size:cover;
  }
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
  