body {
    background-color: #F2F2F2;
    margin: 0 auto;
    /* max-width: 1200px;   */
    /* font-family: 'Fraunces', serif;
    font-family: 'Commissioner', sans-serif; */
}
.conteudo{
    margin: 0 auto;
    max-width: 1200px;  
    
}
.artigo{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    gap: 15px; 
    padding: 0;*/
    max-width: 800px;
    margin: auto;
    /* text-align: center; */
    
}
.titulo{
    font-family: 'EB Garamond', serif;
    font-size: 3.4em;
    text-align:center;
    margin: 20px 0;
}

.autor{
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* justify-content: space-around; */
}

.autor1{
  display: flex;
  align-items: center;
 
}

.autor-foto{
    border-radius: 50%;
    width: 60px;
}

.autor-info{
    margin-left: 10px;
    font-size: 1.25rem;
    font-family: 'Fraunces', serif;
    color: #404040;  
}

.materia {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.lista-foto{
 
  max-width: 100% ;
  margin: 30px 0;

  
}

.materia p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 200;
}

.depoimento{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 60px;
    /* background-color:aqua ; */
}
.depoimento-foto{
    border-radius: 50%;
    width: 150px;
}

.foto-cabeca{
  width: 150px;
  object-position: 0;
}

.hero{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
}
.titulo-capybara{
    font-size: 2.5rem;
}

.logo-img{
   width: inherit;
   max-width: 100%;
   /* max-height: 50%; */
}

.autores{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    margin-left: 10px;
    /* justify-content: flex-start; */
  }

  .autor1{
    margin-right: 140px;
    margin-bottom: 10px;
    margin-left: 0;
    
  }

@media (min-width: 700px) {

    .autores{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
        margin-left: 10px;
      }

    .hero{
        justify-content: center;
        display: flex;
        height: 100px;
    }
    .titulo-capybara{
        font-size: 4rem;
    }
    
    .logo-img{
       width: inherit;
       max-width: 100%;
       /* max-height: 50%; */
    }
    
  }
  

  